* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
  color: var(--font);
}

:root {
  --bg: #fffbf3;
  --primary: #a7f3d0;
  --secondary: #93c5fd;
  --font: #1f2937;
}

.dark {
  --bg: #070f2b;
  --primary: #1b1a55;
  --secondary: #7977a3;
  --font: #f8fbfd;
}

body {
  background-color: var(--bg);
}

/* HOMEPAGE */
.homepage {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  position: relative;
  gap: 15em;
}

button {
  cursor: pointer;
  border: none;
  background-color: var(--secondary);
  color: var(--font);
  border-radius: 10px;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--primary);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
}

header h1 {
  font-size: 2.5rem;
}

.setting {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 70%;
  right: 50px;
}

header button {
  padding: 10px;
  border: solid 0.1px;
  border-radius: 0;
}

.icon {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.icon:hover {
  transform: scale(1.2);
  transition: all ease 0.2s;
}

.user-profile {
  background-color: var(--secondary);
  padding: 2em;
  border-radius: 55px 0;
  box-shadow: 0px 4px 5px #5a5a5a;
  margin-top: 40px;
}

.profile-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profile-header > h2 {
  width: 450px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.profile-stats {
  display: flex;
  gap: 2em;
  padding-top: 1em;
}

.profile-stats > div {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.profile-stats > div p {
  font-weight: bold;
}

.profile-stats > div > div {
  background-color: var(--bg);
  border-radius: 10px;
  padding: 5px 15px;
  cursor: pointer;
  margin-bottom: 10px;
}

.profile-stats > div ul {
  list-style: none;
  margin-left: 10px;
  margin-top: 2px;
}

.profile-stats > div span {
  font-size: 12px;
}

.navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
}

.navigation > button {
  width: 15em;
  height: 4em;
  font-size: 1.2rem;
  background-color: var(--secondary);
  color: var(--font);
  border-radius: 10px;
  box-shadow: 0px 4px 5px #5a5a5a;
  transition: all ease 0.2s;
}

.navigation > button:hover {
  transform: scale(1.2);
  box-shadow: 0px 14px 10px #5a5a5a;
}

.option-container {
  position: absolute;
  background-color: var(--secondary);
  border: solid;
  padding: 5rem 6rem;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4em;
}

.side-button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px;
  display: flex;
}

.side-button > button {
  width: 25px;
  height: 25px;
  margin: 2px;
}

.information-bubble {
  background-color: var(--bg);
  border: solid;
  font-size: 0.8em;
  width: 150px;
  padding: 10px;
  border-radius: 10px;
}

.quiz-option {
  display: flex;
  flex-direction: column;
  margin: -20px;
}

select,
option {
  color: #000;
}

.option-container > p {
  font-size: 25px;
  font-weight: bold;
}

.option-container > button {
  padding: 10px 25px;
  border-radius: 5px;
  background-color: var(--bg);
}

/* QUIZ PAGE */
.title {
  text-align: center;
  padding: 1rem;
  font-size: 2.5em;
  background-color: var(--primary);
}

.quiz-page {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.timestamp {
  position: absolute;
  top: 80px;
  right: 10px;
  font-size: 2rem;
}

.quiz-container {
  display: flex;
  height: 100%;
}

.vertical-line {
  border-left: solid #c2c2c2;
}

.btn-switch-container {
  display: grid;
  grid-template-columns: 25px 25px 25px 25px 25px;
  grid-template-rows: 25px 25px 25px 25px 25px;
  gap: 10px;
  margin: 20px;
  color: #000;
}

.btn-switch-container button {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: solid 0.1px;
  background-color: transparent;
}

.question-container {
  padding: 20px;
  height: max-content;
  width: 100%;
}

.choice div input {
  margin: 10px 10px 10px 15px;
}

.question-section {
  width: 100%;
}

.question-section > .btn-navigation {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 10rem;
}

.question-section > .btn-navigation button {
  width: 100px;
  height: 50px;
  border-radius: 10px;
  background-color: var(--secondary);
  color: var(--font);
  font-weight: bold;
}

.end-quiz {
  width: 500px;
  height: 500px;
  margin: 80px auto;
  background-color: var(--secondary);
  border-radius: 10px;
}
.end-quiz h3 {
  text-align: center;
  font-size: 2.5rem;
  padding-top: 60px;
}
.end-quiz p {
  text-align: center;
  font-size: 1.5rem;
  margin: 20px;
}
.end-quiz button {
  display: block;
  width: 200px;
  height: 50px;
  margin: 20px auto;
  background-color: var(--primary);
  color: var(--font);
  border-radius: 5px;
  font-size: 1.2rem;
}
.end-quiz button:hover {
  background-color: var(--bg);
}

/* QUIZ RESULT PAGE */
.quiz-result-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: max-content;
  padding-bottom: 5em;
  position: relative;
}
.quiz-result-page h1 {
  font-size: 3rem;
  margin-top: 30px;
  margin-bottom: 20px;
}
.quiz-result-page ul {
  list-style: none;
}
.quiz-result-page p {
  font-size: 1.5rem;
}

.correct-answer {
  color: green;
  margin-left: 8px;
}
.wrong-answer {
  color: red;
  margin-left: 8px;
}

.quiz-result-page button {
  padding: 10px 20px;
  font-size: 1.2rem;
  position: fixed;
  top: 20px;
  right: 30px;
}
.quiz-result-page button:hover {
  background-color: var(--primary);
}

/* LOGIN REGISTER PAGE */
.login-register-page {
  height: 100vh;
  position: relative;
}

.bg-img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: solid 5px var(--secondary);
}

.login-register-form {
  width: 40%;
  height: 100%;
  padding-inline: 60px;
  background-color: var(--secondary);
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  position: absolute;
  left: 0;
  transition: all ease 0.3s;
}

.login-register-form.right {
  left: calc(100% - 40%);
}

.login-register-form input {
  color: #000;
}

.login-register-form div {
  text-align: center;
}

.login-register-form h2 {
  text-align: center;
  font-size: 2.5rem;
}
.login-register-form input {
  padding: 10px;
  border-radius: 5px;
  border: none;
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.login-register-form button {
  padding: 10px;
  font-size: 1.2rem;
  background-color: var(--primary);
  color: var(--font);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-register-form span {
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
  width: max-content;
}

.login-register-form button:hover {
  border: solid;
}

/* LEADERBOARD PAGE */
.leaderboard-page {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto;
  place-items: center;
  gap: 20px 0;
  margin-top: 100px;
}

.leaderboard-container {
  text-align: center;
  width: 80%;
  border: solid 1px;
  border-radius: 15px;
  overflow: hidden;
  height: 300px;
  max-height: 300px;
  overflow-y: auto;
}

.leaderboard-container h2 {
  background-color: var(--primary);
  padding: 10px;
  text-transform: uppercase;
}

table {
  width: 100%;
  border-collapse: collapse;
}

td,
th {
  border: none;
}

.rank-name {
  max-width: 140px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.top-rank > td {
  color: #000;
}
